.list {
  list-style-type: none;
}
.movies {
  padding-top: 40px;
}

input,
button {
  border: solid 2px orangered;
  border-radius: 10px;
  height: 40px;
}

input {
  width: 400px;
}
.form {
  padding: 0;
}

ul {
  padding: 0;
}
